@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.navbar {
    @apply w-full min-w-0 sticky top-0 inset-x-0 z-30 p-4 xl:px-[calc((100vw-1280px)/2)] flex justify-between items-center backdrop-blur-md shadow-lg shadow-black/20;
}

.navlinks {
    @apply flex gap-x-4 m-auto;
}

.navlinks a {
    @apply font-bold px-4 py-2 rounded-lg hover:bg-neutral-200 hover:shadow-inner hover:shadow-black/20;
}