@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.navbar {
    @apply w-full fixed top-0 z-30 py-5 items-center flex flex-col justify-center shadow-md shadow-black/10 dark:shadow-white/10 bg-white dark:bg-neutral-950 border-b-2 border-black/5 dark:border-white/12;
}

.nav-title {
    @apply w-full flex gap-x-1 items-center;
}

.nav-title svg {
    @apply w-6 h-6 stroke-green-500 fill-green-500;
}

.nav-title h1 {
    @apply font-bold text-center text-green-500 text-lg;
}

.nav-leading {
    @apply flex items-center justify-start
}

.nav-action {
    @apply w-full flex items-center justify-end gap-4;
}

.nav-menu {
    @apply flex items-center justify-center text-center font-semibold gap-2;
}

.nav-menu a {
    @apply py-1 px-2.5 rounded-lg hover:shadow-inner hover:bg-black/10 hover:dark:bg-white/20;
}

.navbar-mobile {
    @apply w-full max-w-5xl flex flex-col items-center justify-center;
}

.nav-desktop {
    @apply w-full max-w-5xl px-4 grid grid-cols-3 items-center gap-2;
}

.nav-mobile {
    @apply w-full px-8 grid grid-cols-3;
}

.nav-menu-mobile {
    @apply w-full flex flex-col px-8 gap-4;
}

.nav-menu-mobile > a {
    @apply font-medium px-4 py-2 rounded-lg shadow-md border border-black/5 bg-black/10 dark:bg-white/10;
}

@media (max-width: 484px) {
    .nav-title svg {
        @apply hidden;
    }
}
