@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: Anton;
  src: url("./assets/fonts/Anton-Regular.ttf");
}

* {
  @apply transition-all duration-300 ease-in-out;
}

body {
  @apply m-0 dark:bg-neutral-900 bg-white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@theme {
  --font-anton: "Anton", sans-serif;
}